@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.skills-container {
  display: flex; /* Enable flexbox layout */
  flex-wrap: wrap; /* Allow items to wrap into multiple lines */
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.skills-container li {
  width: 50%; /* Set width of each list item to half the container */
  margin-bottom: 1em; /* Add some spacing between items */
}



.testimonial-stars {
  /* Adjust styles for star icons here */
  color: gold; /* Example: Set star color to gold */
  font-size: 1.2rem; /* Example: Adjust star size */
}

